.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* src/App.css */

/* src/App.css */

/* src/App.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('../public/images/Background.jpg'); /* Ruta desde la carpeta public */
  background-size: cover; /* Asegura que la imagen cubra toda la ventana */
  background-position: center; /* Centra la imagen en la ventana */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-attachment: fixed; /* Hace que la imagen permanezca fija cuando se hace scroll */
  height: 100vh; /* Asegura que cubra toda la altura de la ventana */
  width: 100vw; /* Asegura que cubra todo el ancho de la ventana */
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
  color: white; /* Asegúrate de que el texto sea visible sobre la imagen */
}


